:root {
		/*OG Minty Theme*/
	/*--barColorLight: #67cba6;
	--barColorDark: #45a984;
	--horizontalLineColor: #555555;
	--backgroundColor: #000;
	--columnColor: rgba(250,250,255,.8);

	--barTextColor: #000;

	--buttonColorNormal: #67cba6;
	--buttonColorDead: #349873;
	--buttonColorHover: #349873;
	--buttonColorClicked: #fff;

	--buttonTextColorNormal: #000;
	--buttonTextColorHover: #fff;
	--buttonTextColorClick: #000;

	*/

		/*Trans Theme*/
	--barColorLight: #f2d8f7;
	--barColorDark: #f0b6d5;
	--horizontalLineColor: #000;
	--backgroundColor: #000;
	--columnColor: rgba(250,250,255,.8);

	--barTextColor: #000;

	--buttonColorNormal: #b4d4fa;
	--buttonColorDead: #69a8fa;
	--buttonColorHover: #9bc5f8;
	--buttonColorClicked: #fff;

	--buttonTextColorNormal: #000;
	--buttonTextColorHover: #fff;
	--buttonTextColorClick: #000;

		/*Trans Theme Light Mode*/
	/*--barColorLight: #b4d4fa;
	--barColorDark: #69a8fa;
	--horizontalLineColor: #fff;
	--backgroundColor: #fff;
	--columnColor: rgba(0,0,0,.2);

	--barTextColor: #000;

	--buttonColorNormal: #f2d8f7;
	--buttonColorDead: #f0b6d5;
	--buttonColorHover: #ddd;
	--buttonColorClicked: #fff;

	--buttonTextColorNormal: #000;
	--buttonTextColorHover: #fff;
	--buttonTextColorClick: #000;*/
}





/* Open Dyslexic font */
@font-face {
	font-family: 'OpenDyslexic';
	src: url('openDyslexicFont/OpenDyslexic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	size-adjust:67%;
	font-display: block;
}
@font-face {
	font-family: 'OpenDyslexic';
	src: url('openDyslexicFont/OpenDyslexic-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	size-adjust:67%;
	font-display: block;
}
@font-face {
	font-family: 'OpenDyslexic';
	src: url('openDyslexicFont/OpenDyslexic-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	size-adjust:67%;
	font-display: block;
}
@font-face {
	font-family: 'OpenDyslexic';
	src: url('openDyslexicFont/OpenDyslexic-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	size-adjust:67%;
	font-display: block;
}




/* Global Elements */
/* ============================================================================================ */

* {
	text-align:center;
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	font-size:16px;
}


hr {
	border: 1px solid var(--horizontalLineColor);
}

html,body {
	min-width:100vw;
	min-height:100vh;
	position:absolute;
	z-index:-100;
}

body {
	background-color: var(--backgroundColor);
	position: absolute;
	left:0px;
	right:0px;
	bottom:0px;

	width:100%;
	height:100%;
	overflow:hidden;
	z-index:-1;
}

#canvas {
	
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index:4;
	
	min-height:100px;
	min-width:100px;
	background-color: var(--backgroundColor);
	
	width:100%;
	height:100%;
}

#canvasHolder {
	position: absolute;

	width:100%;
	height:100%;
	
	z-index:0;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}



/* Global image Elements */
img {
	
	image-rendering: smooth;
	/*image-rendering: smooth;*/
	/*image-rendering: pixelated;*/
}

img.portrait {
	image-rendering: smooth;
	width:210px;
	height:280px;
	background-color:white;
}
img.landscape {
	image-rendering: smooth;
	width:320px;
	height:230px;
	background-color:white;
}



/* Global Text Elements */
p.title {
	font-size:50px;
	color: var(--barTextColor);
}

h1 {
	font-size:32px;
}

h2 {
	font-size:20px;
	font-weight: bold;
	
	
	text-align:center;
}
h3 {
	font-size:16px;
	font-weight: bold;
	text-decoration-line: underline;
	text-align:center;
}
ul {
	padding-left:30px;
	margin-bottom:10px;
}
li {
	text-align:left;
}

.bottomText {
	color: var(--barTextColor);
}

.generalParagraphs {
	text-align:left;
	margin:4px;
	text-indent:20px;
	padding-bottom:10px;
}
.columnHolder{
	max-height:100%;
	width:100%;
	max-width:100%;
	display:flex;
}
.rowHolder{
	max-height:100%;
	width:100%;
	max-width:100%;
	display:flex;
	flex-direction:column;
	overflow:hidden;
}

.spaceBetween{
	justify-content:space-between;
}

.halfWidth{
	height:100%;
	width:100%;
	
	position:relative;
}


/* Global Structural Elements */
.topBar {
	background-color: var(--barColorLight);
	position: sticky;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 100px;
	z-index: 100;
	overflow: hidden;
}

.topBarButtonPanel {
	background-color: var(--barColorDark);
	width: 100%;
	height: 38px;
	position: relative;
	bottom: 0px;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.deadButton {
	background-color: var(--buttonColorDead);
	color: white;
	border-radius: 3px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	text-align: center;
}

.custyButton {
	background-color: var(--buttonColorNormal);
	border-radius: 3px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	transition-duration: 0.2s;
	cursor: pointer;
}

.custyButtonTopBar {
	width:100px;
	max-width:33%;
	height:80%;
	max-height:80%;
	margin-left:5px;
	margin-right:5px;
	margin-top:auto;
	margin-bottom:auto;
	color: black;
	text-decoration:none;
}

.custyButtonTopBar:hover {
  background-color: var(--buttonColorHover);
  color: var(--buttonTextColorHover);
}

.custyButtonTopBar:active {
	background-color: var(--buttonColorClicked);
	color: var(--buttonTextColorClick);
	transition-duration: 0s;
}

.bt {
	margin-top:2px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	position:relative;
	width:100%;
	float:right;
	
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.buttonImg {
	image-rendering: pixelated;
	width:12px;
	height:12px;
	position:relative;
	left:0px;
	float:left;
	margin-top:4px;
	margin-left:2px;
	
}

#middleBit {
	background-color: var(--columnColor);
	opacity:.999;
	position: static;
	width:700px;
	max-width:100%;
	
	overflow:auto;
	max-height:calc(100% - 150px);
	height:calc(100% - 150px);
	
	margin-left: auto;
	margin-right: auto;
	padding-left:5px;
	padding-right:5px;
	
}

#bottomBar {
	background-color: var(--barColorLight);
	position: sticky;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50px;
	padding-top: 5px;
	overflow: hidden;
}



button {
	background-color: var(--buttonColorNormal);
	border-radius: 3px;
	border-color: black;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	transition-duration: 0.2s;
	cursor: pointer;
	padding:4px;
	
}



button:hover {
  background-color: var(--buttonColorHover);
  color: var(--buttonTextColorHover);
}

button:active {
	background-color: var(--buttonColorClicked);
	color: var(--buttonTextColorClick);
	transition-duration: 0s;
}

#dyslexicFontButton {
	position:absolute;
	right: 3px;
	width:100px;
	height:40px;
	padding:0px;
}



/* Portfolio Elements */
/* ============================================================================================ */
p.portfolioCategoryHeading {
	font-size:20px;
	text-align:center;
	white-space:nowrap;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:10px;
}

.portfolioPiece {
	height:40px;
	width:calc(100% - 4px);
	max-width:calc(100% - 4px);
	background-color:#ddd;
	transition-duration:0.1s;
	margin:2px;
	text-decoration:none;
	color:black;
	overflow:hidden;
}
.portfolioPiece:hover {
	min-height:40px;
	width:calc(100% - 4px);
	margin:2px;
	background-color:#eee;
	opacity:100%;
	cursor:pointer;
	text-decoration:none;
}
.portfolioPiece:active {
	height:40px;
	width:calc(100% - 4px);
	max-width:calc(100% - 4px);
	margin:2px;
	background-color:#fff;
	opacity:100%;
	cursor:pointer;
	transition-duration:0.0s;
	text-decoration:none;
}

img.portfolioPieceIcon {
	image-rendering: pixelated;
	width:32px;
	height:32px;
	float:left;
	margin:4px;
	margin-right:10px;
	filter:brightness(0.0);
}

div.galleryContainer {
	margin:5px;
	width:210px;
}
div.galleryContainerLandscape {
	margin:5px;
	width:320px;
}





/* Portfolio Text Elements */
p.portfolioPieceTextTitle {
	text-align:left;
	margin-left:2px;
	white-space:nowrap;
	font-weight:bold;
}
p.portfolioPieceTextDescription {
	text-align:left;
	font-size:14px;
	margin-top:2px;
	margin-right:2px;
}

.infoPanel {
	position:absolute;
	top:15%;
	left:15%;
	
	
	margin-bottom:auto;
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
	
	max-height:70%;
	max-width:70%;
	width:70%;
	height:70%;
	
	background-color: rgba(250,250,255,.7);
	border-radius:5px;
	z-index:120px;
	
	padding:5px;
	transition-duration:1s;
	
	overflow:auto; 
}

h2.modSubtitle {
	margin-bottom:10px;
}














p.galleryPieceTitle {
	font-size:16px;
	margin-bottom:4px;
}
p.galleryPieceDescription {
	font-size:12px;
	text-wrap: wrap;
	margin-bottom:4px;
}












@media only screen and (max-width : 600px){
    .ppR {
		display:none;
	}
}